@charset "UTF-8" ;

/*すべてのwebページに適応される　*/
html {
    font-family: sans-serif;
}
html * {
    box-sizing: border-box;
}
body {
    margin: 0 0 0 0;
}



h2 {
    color: #3f5170;
    font-size: 22px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: 3px dotted #3f5170;
}
p {
    line-height: 1.6 ;
}
a:link {
    color : #070707 ;
    text-decoration: none;
    
}
a:visited {
    color : #070707  ;
    text-decoration: none;
}
a:hover {
    color : #6c6c6c  ;
    text-decoration: underline;

}
a:active {
    color :  #070707  ;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

/*すべてのwebページに適用　- ヘッダー -　*/
.header{
    position:fixed;
    top:0;
    left:0;
    z-index: 2;
    width:100%;
    background-color: rgb(167, 173, 190);
    transition: all 0.2s ease;
}

.header_hidden{
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}

.space{
    padding: 10px;
    width: auto;
}
.nav li  {
    display: inline;   /*縦に並べる*/
    list-style-type: none ;
    padding-right: 30px ;
    
}
.nav ul {
    text-align: right;
    margin: 0 0 0 0 ;
    padding: 20px 10px 20px 20px ;
}
.nav a:link {
    color: #3c454d ;
    text-decoration: none;
}
.nav a:visited {
    color: #3c454d ;
    text-decoration: none;
}
.nav a:hover {
    color: #7b8dac;
    text-decoration: none;
}
.nav a:active {
    color: #5a9bc0;
    text-decoration: none;
}

/*すべてのwebページに適用　- メイン -　*/
main{
    padding-top: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

/*すべてのwebページに適用　- フッター -　*/

.footer {
    background-repeat: no-repeat ;
    margin-top: 30px;
    padding: 50px 15px 20px 15px;
    font-size: 12px;
    color: #3f5170;
    font-family:Yugothic ;
}


/* 個別のスタイル */
/* index.html */
.keyvisual {
    width: 50%;
    height: 50%;
    
}

.top_image{
    width: 100%;
    /*height: 30%;*/
}
.image_box{
    padding-top: 30px;
    display: flex;
}
.image_box_left{
    position: absolute;
    font-size: 50px;
    top: 30%;;
    left: 13%;
    font-family: Helvetica;
    color: #f4fcf5;
    font-weight: 500;
    
}

.wrapper_top {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
}

.sns-btn {
    display: flex;
    bottom: 0px;
    right: auto;
    position: absolute;
}

.sns-btn li {
    width: 40px;
    margin-left: 15px;
    list-style-type: none;  
    vertical-align:baseline;    
}


.ig_logo {
    width: 100%;
}

.twitter_logo {
    margin: 10% 0;
}

.youtube_logo {
    width: 300%;
    margin: 20% 0;
}

.kanji_name {
    font-size: 20px;
    
}
.short_explanation{
    padding-top: 0;
    font-size: 15px;
    
}
/* news */

.news1 {color: #000000;
    font-size:medium ;
    margin-left: 15px;
    font-weight: bold;
}

.news2 {color: #000000;
    font-size:medium ;
    margin-left: 15px;
    font-weight: bold;
    margin-top: 2%;
}

.line-icon {
    width: 126px;
    height: 39px;
}




/* BIOGRAPHY.html*/
.profile-image {
    display: block;
    padding:2em;
    width: 40%;
    height: 40%;
    margin: auto;   
}
.profile {
    margin: 5px 2em;
    padding: 5px 120px;
}
.profile-name{
    margin: 5px 1em;
    padding: 5px 120px;
    font-size: 20px;
    font-weight: bold;
}
.clear {
    clear: both;
}


/* schedule.html */

.date {
    font-size: 25px;
    margin: 1em 0 0.5em 0;
    font-weight: bold;
}

.adress {
    margin: 0 0 3em 0}
    
.yoyaku {
    margin: 0 0 3em 0
}

.schedule-contents {
    line-height: 25px;
}   

.schedule-comment{
    margin-top: 40px; 
}

/* DISCOGRAPHY.html */

.jacket-image {
    display: block;
    padding:1em;
    width: 40%;
    height: 40%;
    margin: auto;   
}

.discos-name {
    margin-bottom: 10px ;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
}

.discos-name-titles {
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    list-style-type: none;  
}

.discos-name-compositions{
    margin-top: 3%;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

.discos-name-credits{
    margin-top: 1%;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

.movie-title {
    font-size: 20px;
    margin: 0 0 5px 0;
    font-weight: bold;
    
}
.movie{
    text-align: center;
    margin: 0.5em 0 1em 0 ;
}

.mv{
    width: 60%;
    height: 300px;
}
/* contact.html */
form div {
    padding: 12px;
    border-bottom: 1px dashed #bec2c7;
}
select {
    width: 30em;
}
input [name="subject"] {
    width: 30em;
}
textarea {
    width: 30em;
    height: 6em;
}

textarea[name="message"]{
    display: block;
}

input [type="submit"] {
    margin: 20px 0;
    width: 30em;
}

.hidden{
    display: none;
}

/*スマートフォン向けCSS*/
@media (max-width: 1000px) {
    main{
        padding-top: 150px;
    }
    .image_box_left{
        left: 5%;
        top: 8%;
    }
    
    /* 全体 - ナビゲーション*/
    .wrapper {
        margin: 0 8px;
    }
    .logo {
        margin: 30px 0;
    }
    .logo img {
        width: 200px;
    }

    .nav li {
        display: block;
    }
    /* index.html */
    .short_explanation{
        display: none;
    }

    .image_box_left{
        font-size: 20px;
        padding: 10%;
        text-align: center;
        width: 60%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .sns-btn{
        width: 60%;
        display: flex;
        bottom: 0px;
        right: auto;
        position: absolute;
    }

    .sns-btn li {
        width: 7%;
        margin-left: 0;
        list-style-type: none;  
        vertical-align: baseline;    
    }

    .ig_logo {
        width: 70%;
    }
    
    .twitter_logo {
        width: 70%;
        margin: 5% 0;
    }
    
    .youtube_logo {
        width: 300%;
        margin: 0;
    }

    /* news */

    td{
        display: block;
    }

    .top_image{
        display: block;
    }

    .twitter{
        text-align: center;
        padding: 0;
        margin: 0px;
    }

    /* news */
    .instagram {
        width: 100%;
        display: block;
        margin-right:0; 
        margin-left: 0;
    }

    /* profile.html */
    .profile-image{
        width: 60%;
        height: 60%;
    }    
    .profile-name{
        text-align: center;
        padding: 5px 20px;
    }

    name.en{
        display: block;
    }

    name.jp{
        display: block;
    }

    .profile{
        padding: 5px 10px;
    }

    /*work*/
    .mv{
        width: 90%;
        height: 200px;
    }

    /* contact.html - フォーム */
    .hidden{
        display: none;
    }

    textarea {
        width: 100%;
        height: 6em;
    }
}