@charset "UTF-8" ;

/*すべてのwebページに適応される　*/
html {
    font-family: sans-serif;
}
html * {
    box-sizing: border-box;
}
body {
    margin: 0 0 0 0;
}
.wrapper {
    margin: 0 auto 0 auto;
    max-width: 960px;
}

h2 {
    color: #3f5170;
    font-size: 22px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: 3px dotted #3f5170;
}
p {
    line-height: 1.6 ;
}
a:link {
    color : #d25833 ;
}
a:visited {
    color : #d25833 ;
}
a :hover {
    color : #e3937a ;
}
a:active {
    color : #ff6a3b ;
}
img {
    max-width: 100%;
    height: auto;
}

/*すべてのwebページに適用　- ヘッダー -　*/
.header{
    position:fixed;
    top:0;
    left:0;
    z-index:20px;
    width:100%;
    background-color: rgba(228, 233, 238, 0.404);
}

.space{
    padding: 10px;
    width: auto;
}
.nav li  {
    display: inline;   /*縦に並べる*/
    list-style-type: none ;
    padding-right: 30px ;
    
}
.nav ul {
    text-align: right;
    margin: 0 0 0 0 ;
    padding: 20px 10px 20px 20px ;
}
.nav a:link {
    color: #3c454d ;
    text-decoration: none;
}
.nav a:visited {
    color: #3c454d ;
    text-decoration: none;
}
.nav a:hover {
    color: #7b8dac;
    text-decoration: none;
}
.nav a:active {
    color: #5a9bc0;
    text-decoration: none;
}

/*すべてのwebページに適用　- メイン -　*/
main{
    padding-top: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

/*すべてのwebページに適用　- フッター -　*/

.footer {
    background-repeat: no-repeat ;
    margin-top: 30px;
    padding: 50px 15px 20px 15px;
    font-size: 12px;
    color: #3f5170;
    font-family:Yugothic ;
}


/* 個別のスタイル */
/* index.html */
.keyvisual {
    width: 50%;
    height: 50%;
    
}

.top_image{
    width: 30%;
    height: 30%;
}
.image_box{
    padding-top: 30px;
    display: flex;
}
.image_box_left{
    font-size: 50px;
    padding: 10%;
    text-align: center;
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    
}

.kanji_name {
    font-size: 20px;
    
}
.short_explanation{
    padding-top: 0;
    font-size: 15px;
    
}
/* news */
.instagram {
    width: 300px;
    display: block;
    margin-right:60px; 
    margin-left: 30px;

}

.twitter{
    padding:0 50px;
    text-align: right;
    display: block;
    margin-left: 30px;
    
}


.line-icon {
    width: 126px;
    height: 39px;
}

/* profile.html*/
.profile-image {
    display: block;
    padding:2em;
    width: 40%;
    height: 40%;
    margin: auto;   
}
.profile {
    margin: 5px 2em;
    padding: 5px 120px;
}
.profile-name{
    margin: 5px 1em;
    padding: 5px 120px;
    font-size: 20px;
    font-weight: bold;
}
.clear {
    clear: both;
}


/* schedule.html */

.date {
    font-size: 25px;
    margin: 0 0 0.5em 0;
    font-weight: bold;
}

.adress {
    margin: 0 0 3em 0}

.schedule-contents {
    line-height: 25px;
}   

.schedule-comment{
    margin-top: 40px; 
}

/* works.html */
.movie-title {
    font-size: 20px;
    margin: 0 0 5px 0;
    font-weight: bold;
    
}
.movie{
    margin: 0.5em 0 1em 0 ;
}

/* contact.html */
form div {
    padding: 12px;
    border-bottom: 1px dashed #bec2c7;
}
select {
    width: 30em;
}
input [name="subject"] {
    width: 30em;
}
textarea {
    width: 30em;
    height: 6em;
}
input [type="submit"] {
    margin: 20px 0;
    width: 30em;
}

/*スマートフォン向けCSS*/
@media (max-width: 767px) {
    /* 全体 - ナビゲーション*/
    .wrapper {
        margin: 0 8px;
    }
    .logo {
        margin: 30px 0;
    }
    .logo img {
        width: 200px;
    }
    .nav li {
        background-color: #dfddda;
    }
    .nav li {
        display: block;
    }

    /* menu.html - 横並び解除*/
    .menu-item {
        display: block;
    }
    .menu-photo {
        margin-right: 0;
        width: 100%;
    }
    .menu-text {
        width: 100%;
    }

    /* about.html - 画像のパディングを調整　*/
    .shop-photo {
        padding-right: 0;
        float: none;
    }

    /* contact.html - フォーム */
    select {
        width: 100%;
    }
    input[name="subject"] {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
    input[name="submit"] {
        margin: 20px 0;
        width: 100%;
    }
}